@import '../common/variable.scss';
.container {
  background: #fff;
  .aside {
    left: 0;
    top: 0;
    width: 200px;
    background: aquamarine;
    .btn-aside {
      right: px2(-17);
      top: 0;
      width: px2(18);
      height: px2(18);
      background: url("../../images/common/icon_aside.png") no-repeat center center;
      background-size: 100% auto;
    }
  }
}
