@import './reset.scss';
@import './variable.scss';

.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.db {
  display: block;
}
.dl {
  display: inline-block;
}
.w {
  width: 100%;
}
.h {
  height: 100%;
}
.wh {
  width: 100%;
  height: 100%;
}
.cursor {
  cursor: pointer;
}
